<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>부원신청</title>
</head>
<body>
    <h1>부원신청</h1>
    <hr>
    <form action="/signup" method="post" name="signUpForm">
        <input id="name" type="text" name="name" placeholder="name"/>
        <input id="studentnumber" type="text" name="studentnumber" placeholder="student number"/>
        <input id="password" type="password" name="password" placeholder="password"/>
        <input id="college" type="text" name="college" placeholder="college"/>
        <input id="department" type="text" name="department" placeholder="department"/>
        <input id="isregistered" type="checkbox" name="isregistered" checked>
        <label>재학중</label>
        <input id="grade" type="text" name="grade" placeholder="grade"/>
        <input id="phonenumber" type="text" name="phonenumber" placeholder="phonenumber"/>
        <input type="submit" value="가입"/>
    </form>
</body>
</html>