<!-- admin_main.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Main Page</title>
</head>
<body>
<h1>Welcome to Admin Main Page</h1>

<!-- 회원 목록으로 이동하는 버튼 -->
<a href="/admin_userlist">Go to User List</a>

<!-- 스터디 목록으로 이동하는 버튼 -->
<a href="/admin_studylist">Go to Study List</a>
</body>
</html>
