<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study List</title>
</head>
<body>
<h1>Study List</h1>
<ul>
    {{#allStudy}}
        <li>
            <strong>Title:</strong> {{title}}<br>
            <strong>Subject:</strong> {{studySubject}}<br>
        </li>
    {{/allStudy}}
</ul>
</body>
</html>
