<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <script>
        // JavaScript 함수를 사용하여 역할 순환 로직 구현
        function cycleRole(roleElement) {
            var roles = ['관리자', '정회원', '비회원']; // 역할 순환을 정의합니다.
            var currentRole = roleElement.innerText.trim(); // 현재 역할을 가져옵니다.

            // 다음 역할을 결정합니다.
            var nextRoleIndex = (roles.indexOf(currentRole) + 1) % roles.length;
            var nextRole = roles[nextRoleIndex];

            roleElement.innerText = nextRole; // 다음 역할을 버튼에 표시합니다.
        }
    </script>
</head>
<body>
<h1>User List</h1>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>학번</th>
        <th>회원 등급</th>
        <th>변경</th>
    </tr>
    </thead>
    <tbody>
    {{#allUser}}
        <tr>
            <td><a href="/admin_update?studentNumber={{studentNumber}}">{{name}}</a></td>
            <td>{{studentNumber}}</td>
            <td id="role_{{studentNumber}}">{{role}}</td> <!-- 역할을 변경할 엘리먼트에 ID를 추가합니다. -->
            <td>
                <button type="button" onclick="cycleRole(document.getElementById('role_{{studentNumber}}'))">
                    역할 변경
                </button>
            </td>
        </tr>
    {{/allUser}}
    </tbody>
</table>
</body>
</html>
