<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>캘린더 추가</h1>
    <hr>
    <form action="/calendar" method="post">
        <label>시작일</label>
        <input name="start" placeholder="0000-00-00"><br>
        <label>종료일</label>
        <input name="end" placeholder="0000-00-00"><br>
        <label>제목</label>
        <input name="title" placeholder="title"><br>
        <input type="submit" value="제출">
    </form>
</body>
</html>