<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Password Check Page</title>
</head>
<body>

<h2>비밀번호를 입력하세요</h2>


<!-- Password input form -->
<form method="post">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br/>
    <button type="submit">Check Password</button>
</form>

</body>
