<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Content Page</h1>
<a href="editor/content">자유글 쓰기</a>
<div>
    {{#contentList}}
        <a href="content/{{id}}"><strong>번호:</strong> {{id}}</a>
        <strong>이름:</strong> {{userEntity.name}}
        <strong>제목:</strong> {{title}}
        <br>
    {{/contentList}}
</div>
</body>
</html>