<h1>메인화면</h1>
<a href="/signin">로그인 페이지</a>
<a href="/signup">회원가입 페이지</a>
<a href="/study/open">스터디 신청 페이지</a>
<a href="/notice">공지사항</a>
<a href="/content">자유게시판</a>
<a href="/study">스터디 게시판</a>


<h1>로그인 됐나용?</h1>