<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
    <title>main</title>
</head>
<body>
    <h1>메인화면</h1>
    <p style="color:blue; font-size: 18px;">로그인 한 사용자:{{roginUserName}}</p>
    {{#activateLogoutButton}}
        <form action="/logout" method="get">
            <input type="submit" class="btn btn-primary" id="btn-logout" value="로그아웃">
        </form>
    {{/activateLogoutButton}}
    <a href="/signin">로그인 페이지</a> <br>
    <a href="/signup">회원가입 페이지</a> <br>
    <a href="/study/open">스터디 신청 페이지</a> <br>
    <a href="/notice">공지사항</a> <br>
    <a href="/content">자유게시판</a> <br>
    <a href="/study">스터디 게시판</a> <br>
    {{#activateLogoutButton}}
    <a href="/mypage/{{id}}">마이페이지</a>
    {{/activateLogoutButton}}
    <hr>
    <div id='calendar'></div>
    <script>

        const calendarLocation = document.getElementById('calendar');

        document.addEventListener('DOMContentLoaded', function() {

            const calendar = new FullCalendar.Calendar(calendarLocation, {
                initialView: 'dayGridMonth',
                events: [
                    {
                        title: 'set',
                        start: '2020-01-01',
                        end: '2020-01-01'
                    }
                ]
            });
            calendar.render();
        });
    </script>
</body>
</html>