<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>마이페이지</h1>
    <hr>
    <p>학번: {{user.studentnumber}}</p>
    <p>이름: {{user.name}}</p>
    <h2>내가 쓴 공지사항</h2>
    <div>
        {{#noticeList}}
            <a href="/notice/{{id}}"><strong>번호:</strong> {{id}}</a>
            <strong>제목:</strong> {{title}}
            <br>
        {{/noticeList}}
    </div>
    <h2>내가 쓴 게시글</h2>
</body>
</html>