<h1>스터디 수정</h1>

<div>
    <div>
        <form action="/study/edit/{{studydata.id}}" method="post" name="study">
            <div>
                <label for="title">제목</label>
                <input name="title" type="text" class="form-control" id="title" placeholder="제목을 입력하세요" value="{{studydata.title}}">
            </div>
            <!--<div>
                <label for="title">학번</label>
                <input name="studentNumber" type="text" class="form-control" id="title" placeholder="제목을 입력하세요" value="{{studydata.studentNumber}}">
            </div>-->
            <div>
                <label for="title">이름</label>
                <input name="name" type="text" class="form-control" id="title" placeholder="제목을 입력하세요" value="{{studydata.name}}">
            </div>
            <div>
                <label for="title">학년</label>
                <input name="grade" type="text" class="form-control" id="title" placeholder="제목을 입력하세요" value="{{studydata.grade}}">
            </div>
            <div>
                <label for="title">단과대학</label>
                <input name="college" type="text" class="form-control" id="title" placeholder="제목을 입력하세요" value="{{studydata.college}}">
            </div>
            <div>
                <label for="title">학과</label>
                <input name="department" type="text" class="form-control" id="title" placeholder="제목을 입력하세요" value="{{studydata.department}}">
            </div>
            <div>
                <label for="title">전화번호</label>
                <input name="phoneNumber" type="text" class="form-control" id="title" placeholder="제목을 입력하세요" value="{{studydata.phoneNumber}}">
            </div>
            <div>
                <label for="content">스터디 주제</label>
                <textarea name="studySubject" class="form-control" id="content" placeholder="내용을 입력하세요">{{studydata.studySubject}}</textarea>
            </div>
            <div>
                <label for="content">스터디 목표</label>
                <textarea name="studyGoal" class="form-control" id="content" placeholder="내용을 입력하세요">{{studydata.studyGoal}}</textarea>
            </div>
            <div>
                <label for="content">스터디 활동 방식</label>
                <textarea name="studyMethod" class="form-control" id="content" placeholder="내용을 입력하세요 ">{{studydata.studyMethod}}</textarea>
            </div>
            <div>
                <label for="content">스터디 자료</label>
                <textarea name="studyReference" class="form-control" id="content" placeholder="내용을 입력하세요">{{studydata.studyReference}}</textarea>
            </div>
            <div>
                <label for="content">스터디 일시</label>
                <textarea name="studyTime" class="form-control" id="content" placeholder="내용을 입력하세요">{{studydata.studyTime}}</textarea>
            </div>
            <div>
                <label for="content">스터디 장소</label>
                <textarea name="studyPlace" class="form-control" id="content" placeholder="내용을 입력하세요">{{studydata.studyPlace}}</textarea>
            </div>
            <div>
                <label for="content">스터디 관련 팀장 경험</label>
                <textarea name="managerExperience" class="form-control" id="content" placeholder="내용을 입력하세요">{{studydata.managerExperience}}</textarea>
            </div>
            <input type="submit" class="btn btn-primary" id="btn-save" value="수정">
        </form>
    </div>
</div>
