<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css\layout-style.css">
</head>
<body>
<h1>스터디 등록</h1>
{{#errorMessage}}
    <p style="color: red;">{{errorMessage}}</p>
{{/errorMessage}}
<form action="/study/open" method="post" name="study">
    <div>
        <label for="studyType">스터디 유형</label>
        <select name="studyType">
            <option value="">유형선택</option>
            <option value="BASIC">기본(BASIC)</option>
            <option value="SELF">자율(SELF)</option>
        </select>
    </div>
    <div>
        <label for="title">스터디 이름</label>
        <input name="title" type="text" class="form-control" id="title">
    </div>
    <div>
        <label for="studySubject">스터디 주제</label>
        <input name="studySubject" type="text" class="form-control" id="studySubject">
    </div>
    <div>
        <label for="studyDetail">스터디 설명</label>
        <input name="studyDetail" type="text" class="form-control" id="studyDetail" placeholder="스터디 활동방식\n스터디 자료\n스터디 시간\n스터디 장소" style="width:300px;height:200px;">
    </div>
    <input type="submit" class="btn btn-primary" id="btn-save" value="등록">
</form>
</body>
</html>