<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{studyEntity_data.title}}
<div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>studentNumber</th>
            <th>name</th>
            <th>grade</th>
            <th>college</th>
            <th>department</th>
            <th>phoneNumber</th>
            <th>studySubject</th>
            <th>studyGoal</th>
            <th>studyMethod</th>
            <th>studyReference</th>
            <th>studyTime</th>
            <th>studyPlace</th>
            <th>managerExperience</th>
            <th>createDate</th>
            <th>updateDate</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{studyEntity_data.id}}</td>
            <td>{{studyEntity_data.title}}</td>
            <td>{{studyEntity_data.studentNumber}}</td>
            <td>{{studyEntity_data.name}}</td>
            <td>{{studyEntity_data.grade}}</td>
            <td>{{studyEntity_data.college}}</td>
            <td>{{studyEntity_data.department}}</td>
            <td>{{studyEntity_data.phoneNumber}}</td>
            <td>{{studyEntity_data.studySubject}}</td>
            <td>{{studyEntity_data.studyGoal}}</td>
            <td>{{studyEntity_data.studyMethod}}</td>
            <td>{{studyEntity_data.studyReference}}</td>
            <td>{{studyEntity_data.studyTime}}</td>
            <td>{{studyEntity_data.studyPlace}}</td>
            <td>{{studyEntity_data.managerExperience}}</td>
            <td>{{studyEntity_data.createDate}}</td>
            <td>{{studyEntity_data.updateDate}}</td>

        </tr>
        </tbody>
    </table>
</div>
<div>
    <h2>스터디 멤버</h2>
    <ul>
        {{#enrollEntities_data}}
            <li>{{userEntity.name}}</li>
        {{/enrollEntities_data}}
    </ul>
</div>
<div>
    <input type="submit" class="btn btn-primary" id="btn-save" value="참여자 조회">
    <form action="/study/edit/{{studyEntity_data.id}}" method="get">
        <input type="submit" class="btn btn-primary" id="btn-edit" value="수정">
    </form>
    <form action="/study/delete/{{studyEntity_data.id}}" method="get">
        <input type="submit" class="btn btn-primary" id="btn-delete" value="삭제">
    </form>
    <form action="/study/quit/{{studyEntity_data.id}}" method="post">
        <input type="submit" class="btn btn-primary" id="btn-quit" value="탈퇴">
    </form>
    <form action="/study/apply/{{studyEntity_data.id}}" method="post">
        <input type="submit" value="신청">
    </form>
</div>
</body>
</html>