<h1>스터디 수정</h1>
<div>
    <div>
        <form action="/study/edit/{{studyEntity_data.id}}" method="post" name="study">
            <div>
                <label for="studySubject">스터디 주제</label>
                <input name="studySubject" type="text" class="form-control" id="studySubject" value="{{studyEntity_data.studySubject}}">
            </div>
            <div>
                <label for="studyDetail">스터디 설명</label>
                <input name="studyDetail" type="text" class="form-control" id="studyDetail"  style="width:300px;height:200px;" value="{{studyEntity_data.studyDetail}}">
            </div>
            <!--널 오류 피하기 위함-->
            <input type="hidden" name="studyType" value="{{studyEntity_data.studyType}}">
            <input type="hidden" name="title" value="{{studyEntity_data.title}}">
            <input type="submit" class="btn btn-primary" id="btn-save" value="수정">
        </form>
    </div>
</div>
