<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
{{studyEntity_data.title}}
<div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>accept</th>
            <th>studyType</th>
            <th>title</th>
            <th>studentNumber</th>
            <th>studySubject</th>
            <th>studyDetail</th>
            <th>createDate</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{studyEntity_data.id}}</td>
            <td>{{studyEntity_data.accept}}</td>
            <td>{{studyEntity_data.studyType}}</td>
            <td>{{studyEntity_data.title}}</td>
            <td>{{studyEntity_data.studentNumber}}</td>
            <td>{{studyEntity_data.studySubject}}</td>
            <td>{{studyEntity_data.studyDetail}}</td>
            <td>{{studyEntity_data.createDate}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h2>스터디 멤버</h2>
    <ul>
        {{#enrollEntities_data}}
            <li>{{userEntity.name}}</li>
        {{/enrollEntities_data}}
    </ul>
</div>
<div>
    <input type="submit" class="btn btn-primary" id="btn-save" value="참여자 조회">
    <form action="/study/edit/{{studyEntity_data.id}}" method="get">
        <input type="submit" class="btn btn-primary" id="btn-edit" value="수정">
    </form>
    <form action="/study/delete/{{studyEntity_data.id}}" method="get">
        <input type="submit" class="btn btn-primary" id="btn-delete" value="삭제">
    </form>
    <form action="/study/quit/{{studyEntity_data.id}}" method="post">
        <input type="submit" class="btn btn-primary" id="btn-quit" value="탈퇴">
    </form>
    <form action="/study/apply/{{studyEntity_data.id}}" method="post">
        <input type="submit" value="신청">
    </form>
</div>
</body>
</html>
